@model Web_Embaquim.Models.CursoViewModel; // Passando parametros do CursoViewModel para os input através do Razor
@{
    ViewData["Title"] = "Home";
}
<img class="img-fundo" src="~/Imagens/embaquim_cover.jfif">

<section class="">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-lg-5  pontos-fundo text-center py-3">
                <h4 class="fw-bolder">Pontos Para Distribuir</h4>
                <h2 class="fw-bolder">320 Pontos</h2>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:100%;">
                        27/04/2024
                    </div>
                </div>
                <p>Você tem até o dia 27/04/2024 para distribuir os pontos</p>
                <a href="@Url.Action("Reconhecer","Home")" type="button" class="btn btn-primary fw-bolder" style="width: 100%; margin-top: 25px;">Reconhecer alguém</a>
            </div>
            <div class="col-lg-5 pontos-fundo text-center py-3">
                <h4 class="fw-bolder">Você já Recebeu</h4>
                <h2 class="fw-bolder">1000 Pontos</h2>
                <p>Parabéns! Vamos ver o que dá para fazer com seus pontos.</p>
                <button type="button" class="btn btn-primary fw-bolder" style="width: 100%; margin-top: 16px;">Trocar Por Recompensas</button>
            </div>
        </div>
    </div>
</section>
<section class="desafios">
    <div class="container-fluid" style="position: relative;">
        <div>
            <img src="imagens/Cursos.png" class="logo-curso">
        </div>
        <div class="row d-flex justify-content-center align-items-center" style="padding-top: 300px">
            <!-- Imagem do curso com efeito de desfoque -->
            <div class="col-lg-5 text-center media-img">
                <img src="imagens/imagemcurso.png" class="imagem-curso">
            </div>

            <!-- Texto do desafio com fundo e texto opacos -->
            <div class="text-center col-lg-5 offset-lg-1 container-desafio">
                <h3 class="fw-bolder">Cursos 10's</h3>
                <p class="py-3">Nunca subestime o poder do conhecimento adquirido através de cursos gratuitos. Em um mundo onde a informação é essencial, essas oportunidades são verdadeiros tesouros acessíveis a todos. Cada lição absorvida, cada habilidade aprendida, é um investimento em si mesmo e no seu futuro. A jornada pode parecer árdua, mas lembre-se, cada passo o leva mais perto de seus objetivos. E saiba, no final, seu esforço será recompensado. O conhecimento é a chave que abre as portas do sucesso e da realização pessoal.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 text-center container-desafio " style="margin-top: 200px; margin-bottom: 100px;">
                <div style="border: 1px solid white;  ">
                    <h5 class=" py-5">
                        <strong>Tema: </strong><span id="AntTema">@Model.Tema</span>
                    </h5>
                </div>

                <div style="border: 1px solid white;" class="my-3">
                    <h5 class=" py-5 my-5">
                        <strong>Descrição:</strong><span id="AntDescricao">@Model.Descricao</span>
                    </h5>
                </div>
                <div>
                    <div>
                        <p class="py-3">
                            <a class="btn btn-outline-primary" id="AntLink" style="margin-top: 20px; border: 1px solid white; color: white" href="@Model.LinkCurso">Clique aqui para acessar o link</a>
                        </p>
                        <button onclick="abrirFormulario()" class="btn btn-info" style="margin-left: auto; height: 35px">Abrir Painel de Administração</button>
                    </div>
                </div>


                <div class="d-flex justify-content-between my-3">
                    <span class="">Duração: <span id="AntDuracaoHr" class="fw-bolder" style="color: red;">@Model.DuracaoHr</span></span>
                    <span class="" id="">Pontos:  <span id="AntPontos" class="fw-bolder " style="color: red;">@Model.Pontos</span></span>
                    <span class="" id="">Prazo: <span id="AntDataFim" class="fw-bolder " style="color: red;">@Model.DataFim.ToString("dd/MM/yyyy")</span></span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Formulário Administração -->

    <div id="overlay" class="overlay">
        <div id="formulario" class="formulario" style="position: absolute">

            <h2>Formulário de Administração</h2>
            <a onclick="fecharFormulario()"><i class="fa-solid fa-xmark icon-adm"></i></a>
            <div class="d-flex justify-content-between">
                <form method="post" style="width: 100%">
                    <label for="tema">Tema:</label>
                    <input type="text" id="Tema" name="Tema" class="fw-bolder" style="width: 100%"><br><br>
                    <label for="descricao">Descricao:</label>
                    <input type="text" id="Descricao"  name="Descricao" class="fw-bolder" style="width: 100%"><br><br>
                    <div class="d-flex" style="height:25px; margin-bottom: 10px;">
                        <label for="duracao">Duração: </label>
                        <input type="text" id="DuracaoHr" name="duracao" class="fw-bolder" placeholder="Hrs" style="width:40px; margin-left: 4px;">
                        <label for="Pontos" style="margin-left: auto;">Pontos: </label>
                        <input type="text" id="Pontos" name="Pontos"  class="fw-bolder" style="width:40px; margin-left: 4px;">
                        <label for="DataFim" style="margin-left: auto;">Prazo: </label>
                        <input type="date" id="DataFim" name="DataFim" class="fw-bolder" style="width:100px; margin-left: 4px;">
                    </div>
                    <label for="LinkCurso">Endereço do Curso</label>
                    <input type="text" id="LinkCurso" name="LinkCurso">

                    <input type="button" value="Alterar Conteúdo" onclick="alterarConteudo(event)" style="padding: 0px 5px;">
                </form>
            </div>
        </div>
    </div>
</section>

